*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.home{
    font-size:2rem;
    width: 100vw;
    height: 100vh;
    background-image: url(13.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.home-content{
    color: whitesmoke;
    margin-top: 260px;
    text-align: center;
    transform: translateY(0);
}
/* nút lên */
.nutlen{
    position: fixed;
    left: 90%;
    top: 80%;
    font-size: 60px;
    opacity: 0.8;
    border: 1px solid rgb(223, 197, 247);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* tiêu đề */
:root{
    --black:rgb(238, 190, 254);
}
.iconbar{
    color: white;
    display: none;
    font-size: 50px;
    padding-right: 20%;
    line-height: 65px;
}
.nutbar{
    display: flex;
    margin-right: 12%;  
}
/*tiêu đề di chuyển  */
header.sticky .tieude{
    border: 1px solid rgb(238, 190, 254);
    color: white;
    opacity: 0.8;
}
.tieude{
    width: 100%;
    background-color: var(--black);    
    color: white;
    height: 65px;
    align-items: center;
    position: fixed;
    z-index: 9;
}
.tieude_chinh{
    width: 100%;
    display: flex;
    justify-content:space-between;
    height: 65px;
}


/* tiêu đề bên phải */
.tieude_phai{
    display: flex;
    justify-content: space-around;
    margin-right: 40%;
    align-items: center;
}
.tieudebe{
    margin-right: 13%;
    font-size: 24px;
}
.tieudebe a{
    color: white;
}
.tieudebe1 a{
    color: white;
}
.tieudebe1{
    text-align: center;
    margin-right: 10%;
    font-size: 24px;
}
/* benler */
.body_benler{   
    width: 100%;
    height: 850px;
    padding-top: 65px;
}
.body_benler img{
    width: 100%;
}
/* work */
.body{
    max-width: 82%;
    margin: 0 auto;
}
.body_about_chu{
    text-align: center;
    font-size: 60px;
    color: rgb(251, 155, 251);
    height: 96px;
    line-height: 96px;
}
.body_about_tong{
    display: flex;
    width: 100%;
}

.xinchao{
    text-align: center;
    font-size: 50px;
    margin-top: 88px;
    margin-bottom: 27px;
}
.body_about_anh{
    width:50%;
    position: relative;
}
.icontym{
    font-size: 82px;
    display:none ;
    top: 49%;
    left: 39%;
    color: red;
    position: absolute;
}
.body_about_anh:hover .icontym{
    display: block;
}
.body_about_noidung {
    width: 50%;
    height: 712px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.5em;
}
.body_about_end{
    width: 100%;
    height: 40px;
    margin-top: -4px;
}

/* hover */
/* tiêu đề */
header.sticky .tieude:hover{
    opacity: 1;
}
.tieudebe:hover{
    font-size: 30px;
    cursor: pointer;
}
.tieudebe1:hover{
    font-size: 30px;
    cursor: pointer;
}

.iconbar:hover{
    cursor: pointer;
    font-size: 60px;
    background-color: rgb(100,100,100);
    padding-left: 5px;
    padding-right: 5px;
}
.contact_trai_chu a:hover{
    cursor: pointer;
    color: rgb(240, 237, 18);
}
/* dropdown */
.dropdown_content{
    display: none;
    position: absolute;
    background-color: rgb(100,100,100);
    /* min-width: 44%; */
    width: 300%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown_content a{

    color: white;
    border-bottom:2px solid rgb(240, 237, 18) ;
}
.dropdown_content a:hover{
    color: rgb(240, 237, 18);
    font-size: 20px;
}
.dropdown:hover .dropdown_content{
    display: block;
   
}
.dropdown{
    position: relative;
  display: inline-block;
  margin-right: 10%;
  display: none;
}
/* services */
.body_services{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body_services1 i{
    font-size: 157px;
}
.body_services1{
    background-color: rgb(100,100,100);
    color: white;   
    padding: 40px;
    text-align: center;
}
.body_services1 p{
    font-size: 30px;
    text-align: center;
}
.body_services_chu1{
    text-align: center;
    font-size: 60px;
    color: rgb(251, 157, 251);
    height: 65px;
}

/* testminails */
.body_testimonials_anh{
    text-align: center;
}
.body_testimonials_chu{
    text-align: center; 
    font-size: 32px;
    padding-top: 1%;
    color: black;
}
/* contact */
.contact{
    display: flex;
    justify-content: space-between;
    color: black;
    height: 378px;
}
.contact_trai_icon{
    padding-right: 10px;
}
.contact_trai1 a{
    color: black;
}
.contact_trai{
   margin-top: 7%;
   margin-left: 5%;
}
.contact_trai1{
    display: flex;
    font-size: 30px;
    padding: 17px;
}
.contact_phai{
    width: 50%;
}
.body_services1 i {
    font-size: 5em;
}
.body_services1 p {
    font-size: 1.192em;
    text-align: center;
}
.body_services1{
    width: 22%;
    padding: 10px;
}
/* tablet */

/* điện thoại */
@media screen and (max-width:768px){
    .tieude_phai{
        display: none;
    }
    .iconbar{
        display: block;
    }
    /* .nutbar .iconbar:hover .tieude_phai{
       display: block; 
       background-color: black;
       font-size: 30px;
       text-align: center;
    } */
    .body_services{
        width: 100%;
    }
    .body_benler{
        width: 100%;
        height: auto;
    }
    .body_benler img{
        width: 100%;
        height: auto;
    }
    .body{
        margin-top: -1%;
    }
    .body_about{
        width: 100%;
    }
    .body_about_chu{
        width: 100%;
    }
    .body_about_noidung{
        width: 95%;
        font-size: 1em;
    }
    .body_about_tong{
        display: block;
    }
    .body_about_anh{
        width: 100%;
    }
    .xinchao{
        margin-top: -4px;
    }
    .dropdown{
        display: block;
        margin-right: 17%;
    }
    
    .body_services_chu1{
        margin-top: 1.5%;
    }
    .body_services{
        display: block;
        text-align: center;
    }
    
    /* contact */
    .contact{
        display: block;
        margin-top: -7%;
        height: auto;
    }
    .contact_phai{
        padding-top: 2%;
        border-top:2px solid plum;
        width: 100%;
    }
    .contact_trai1{
        font-size: 26px;

    }
    .nutlen{
        font-size: 20px;
        width: 50px;
        height: 50px;
    }
}
@media screen and (max-width: 576px){
    .tieude_phai{
        display: none;
    }
    .iconbar{
        display: block;
    }
    /* .nutbar .iconbar:hover .tieude_phai{
       display: block; 
       background-color: black;
       font-size: 30px;
       text-align: center;
    } */
    .body_services{
        width: 100%;
    }
    .body_benler{
        width: 100%;
        height: auto;
    }
    .body_benler img{
        width: 100%;
        height: auto;
    }
    .body{
        margin-top: -1%;
    }
    .body_about{
        width: 100%;
    }
    .body_about_chu{
        width: 100%;
    }
    .body_about_noidung{
        width: 95%;
        font-size: 1em;
    }
    .body_about_tong{
        display: block;
    }
    .body_about_anh{
        width: 100%;
    }
    .xinchao{
        margin-top: -4px;
    }
    .dropdown{
        display: block;
        margin-right: 17%;
    }
    
    .body_services_chu1{
        margin-top: 1.5%;
    }
    .body_services{
        display: block;
        text-align: center;
    }
    .body_services1{
        border-top: 2px solid rgb(240, 237, 18);
        width: 100%;
    }
    /* contact */
    .contact{
        display: block;
        margin-top: -7%;
        height: auto;
    }
    .contact_phai{
        padding-top: 2%;
        border-top:2px solid rgb(240, 237, 18) ;
        width: 82%;
    }
    .contact_trai1{
        font-size: 26px;

    }
    .nutlen{
        font-size: 20px;
        width: 50px;
        height: 50px;
    }
    .body_work_chu0, .body_services_chu1, .body_services_chu{
        font-size: 2.5em;
    }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 1100px){  
    .tieude_phai{
        display: none;
    }
    .iconbar{
        display: block;
    }
    .dropdown{
        display: block;
        margin-right: 17%;
    }
    .body_benler img{
        height: auto;
    }
    .body_about_anh{
        aspect-ratio: 1.2 / 1;
    }
    .body_work_chu1{
        font-size: 4em;
        padding-top: 10%;
    }
    .body_about_noidung{
        font-size: 20px;
    }
    .body_about_tong{
        height: auto;
    }
    .xinchao{

        font-size: 40px;
    }
    .body_benler{
        width: 100%;
        height: auto;
    }

    .body_services_chu1{
        margin-top: 1.25%;
    }
    .body{
        max-width: 82%;
        margin: 0 auto;
        margin-top: -1%;
    }
    .body_services1{
        width: 20%;
        padding: 10px;
    }
    .body_services1 i {
        font-size: 5em;
    }
    .body_services1 p {
        font-size: 1.192em;
        text-align: center;
    }
    .contact_trai1 {
        display: flex;
        font-size: 1.5em;
        padding: 17px;
    }
}
.portfolio h2{
    color: rgb(251, 137, 251);
    text-align: center;
    font-size: 50px;
}
.homework{
    width: 100%;
    background-color: #a4cce7;
    /* margin-top: 20px; */
    position: relative;
}
.homework h2{
    color: #1f71a1;
    font-size: 30pt;
    text-align: center;
    padding: 40px;
    font-family: BMLucas;
}
a:hover{
    color: #081b29;
}
 a{
    position: relative;
    text-decoration: none;
    color: black;
}
.homework1{
    margin-top:40px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 0px 50px;
    
}
.LAB{
    background-color: rgb(251, 137, 251);
    width: 250px;
    height: 300px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
}
.LAB h3{
    font-size: 25pt;
    /* text-align: center;
    justify-content: center;
    align-items: center; */
    padding-top: 50%;
    color: rgb(20, 91, 153);
}
.baitap{
    font-size: 16pt;
    position: absolute;
    text-align: center;
    background-image: url(https://cf.shopee.vn/file/5dbb50bde4061fbabd493a065fb7a54e);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    border-radius: 10px;
    transition: 0.5s bottom 1.75s opacity;
    transition-delay: 50ms;
    
}
.baitap1 p:first-child{
    margin-top: 50%;
}
.baitap2 p:first-child{
    margin-top: 30%;
}
.baitap3 p:first-child{
    margin-top: 30%;
}
.baitap4 p:first-child{
    margin-top: 50%;
}
.baitap6 p:first-child{
    margin-top: 35%;
}
.baitap7 p:first-child{
    margin-top: 50%;
}
.baitap8 p:first-child{
    margin-top: 50%;
}
.LAB:hover .baitap{
    opacity: 1;
    visibility: visible;
    
}
.baitap a:after{
    background-color: white;
    width: 0;
    opacity: 1;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    content: "";
    overflow: hidden;
    bottom: -1px;
    display: block;
    height: 1px;
    transition: 0.5s bottom 1.75s opacity;
}
.baitap a:hover:after{
    width: 100%;
}
.skill {
    margin-bottom: 25px;
}
  
.skill i {
    font-size: 45px;
    margin-right: 10px;
}
  
.skill h3 {
    margin: 5px 0;
}
  
.skill p {
    margin: 0;
    font-size: 14px;
    color: #666;
}
.skills-bar {
    height: 15px;
    background-color: #ccc;
}
.skill[data-percent="90"] .skills-bar {
    width: 70%;
    background-color:rgb(251, 130, 251);
}
  
.skill[data-percent="80"] .skills-bar {
    width: 60%;
    background-color: rgb(251, 130, 251);
}
.skill[data-percent="75"] .skills-bar {
    width: 50%;
    background-color:rgb(251, 130, 251);
}
.resume-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    grid-gap: 3rem;
    align-items: center;
    margin-top: 4.4rem;
  }
  
  .box {
    padding: 20px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
  }
  
  
  .box h4 {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 13px;
    text-align: center;
  }
  
  .box p {
    font-size: var(--p-font);
    font-weight: 300;
    margin-bottom: 1.2rem;
    line-height: 1.8rem;
    color: var(--2nd-main-color);
    text-align: center;
  }
  
  
  
  .box:hover {
    transform: translate(-15px);
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
  }
  